body
{
background-color: aquamarine;
color: black;
background-image: url("thevr-ai-hang.jpg");
background-attachment: fixed;
background-repeat: repeat-y;
background-size: 25%;




}
h1
{
    margin-left: 25%;
    margin-right: 25%;
    width: 75%;   
}
h2
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
p
{
margin-left: 25%;
margin-right: 25%;
width: 50%;
}







img
{
margin-left: 25%;
margin-right: 25%;
width: 50%;
border-color: blue;
border-width: 10px;
border-style: solid;
}